altgraph==0.17.3
appscript==1.2.2
black==23.1.0
cffi==1.16.0
charset-normalizer==3.3.1
click==7.1.2
coverage==7.2.3
cryptography==41.0.5
cx-Freeze==6.15.0
honeybee-core==1.56.0
honeybee-energy==1.100.5
honeybee-ph==1.18.2
honeybee-schema==1.53.2
honeybee-standards==2.0.6
iniconfig==2.0.0
isort==5.12.0
ladybug-core==0.41.25
ladybug-display==0.9.0
ladybug-geometry==1.27.1
ladybug-geometry-polyskel==1.4.18
ladybug-rhino==1.39.14
lxml==4.9.2
macholib==1.16.2
markdown-it-py==2.2.0
mdurl==0.1.2
modulegraph==0.19.5
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pdfminer.six==20221105
pdfplumber==0.10.2
PH-Baseliner==1.2.1
PH-units==1.5.2
PHX==1.25.0
Pillow==10.1.0
platformdirs==3.2.0
pluggy==1.0.0
psutil==5.9.4
py2app==0.28.6
pycparser==2.21
pydantic==1.10.7
pydantic-openapi-helper==0.2.10
Pygments==2.15.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pypdfium2==4.22.0
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.0
pytest==7.3.1
PyYAML==6.0
rich==13.3.4
toml==0.10.2
typing_extensions==4.5.0
xlwings==0.30.4
