QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    margin-top: 20px;
}
QGroupBox {
    font-size: 16px;
    font-weight: bold;
    margin-top: 46px;
}